{% load static %}
{% comment %}3D property-type icons. Expects value = PropertyType code.{% endcomment %}
{% if value == "apartment" %}
<img src="{% static 'img/property-types/apartment.webp' %}" alt="" width="112" height="112" decoding="async" class="vv-listing-type-img" />
{% elif value == "studio" %}
<img src="{% static 'img/property-types/studio.webp' %}" alt="" width="112" height="112" decoding="async" class="vv-listing-type-img" />
{% elif value == "villa_house" %}
<img src="{% static 'img/property-types/villa_house.webp' %}" alt="" width="112" height="112" decoding="async" class="vv-listing-type-img" />
{% elif value == "commercial" %}
<img src="{% static 'img/property-types/commercial.webp' %}" alt="" width="112" height="112" decoding="async" class="vv-listing-type-img" />
{% elif value == "land" %}
<img src="{% static 'img/property-types/land.webp' %}" alt="" width="112" height="112" decoding="async" class="vv-listing-type-img" />
{% elif value == "office" %}
<img src="{% static 'img/property-types/office.webp' %}" alt="" width="112" height="112" decoding="async" class="vv-listing-type-img" />
{% elif value == "retail" %}
<img src="{% static 'img/property-types/retail.webp' %}" alt="" width="112" height="112" decoding="async" class="vv-listing-type-img" />
{% endif %}
